<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="darghex.parces"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="15" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:label="PARCES"
        android:icon="@drawable/logo"
        android:theme="@style/AppTheme">
        <activity
            android:name="darghex.parces.LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name="darghex.parces.DashBoardActivity"
            android:label="@string/title_activity_dash_board" >
        </activity>
        <activity
            android:name="darghex.parces.BuscarEstudianteActivity"
            android:label="@string/title_activity_buscar_estudiante" >
        </activity>

        <activity
            android:name="darghex.parces.IntroActivity"
            android:label="@string/title_activity_intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="darghex.parces.AsignaturaActivity"
            android:label="@string/title_activity_asignatura" >
        </activity>
        <activity
            android:name="darghex.parces.PropuestaMatriculaActivity"
            android:label="@string/title_activity_propuesta_matricula" >
        </activity>
        <activity
            android:name="darghex.parces.DetallePropuestaActivity"
            android:label="@string/title_activity_detalle_propuesta_matricula" >
        </activity>
        <activity
            android:name="darghex.parces.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="darghex.parces.PensumActivity"
            android:label="@string/title_activity_pensum" >
        </activity>
        <activity
            android:name="darghex.parces.CursoActivity"
            android:label="@string/title_activity_curso" >
        </activity>
        <activity
            android:name="darghex.parces.AsistenciaActivity"
            android:label="@string/title_activity_asistencia" >
        </activity>
        <activity
            android:name="darghex.parces.ActividadComentariosActivity"
            android:label="@string/title_activity_comentarios_actividad" >
        </activity>
        <activity
            android:name="darghex.parces.ActividadActivity"
            android:label="@string/title_activity_actividades" >
        </activity>

        <activity
            android:name="darghex.parces.ActividadGestionActivity"
            android:label="@string/title_activity_actividades" >
        </activity>

        <activity
            android:name="darghex.parces.CalificacionActivity"
            android:label="@string/title_activity_actividades" >
        </activity>


    </application>

</manifest>
